---
title: Programma
permalink: "/programma/"
section: line-up
layout: line-up
lang: nl
---

{% assign language = page.lang %}
{% assign t = site.data.i18n_strings %}
<p>
    {{ t['wednesday'][language] }}
</p>
{% for concert in site.nl_concerts %}
    {% capture day %}{{ concert.concert_date | date: "%d" }}{% endcapture %}
    {% if day == "01" %}
        {% include components.concert.html %}
    {% endif %}
{% endfor %}
<hr>
<p>
    {{ t['thursday'][language] }}
</p>
{% for concert in site.nl_concerts %}
    {% capture day %}{{ concert.concert_date | date: "%d" }}{% endcapture %}
    {% if day == "02" %}
        {% include components.concert.html %}
    {% endif %}
{% endfor %}
