<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <!-- Manually define homepage link -->
        <li class="c-nav-main__item{% if page.section == "home" %} is-selected{% endif %}">
            <a href="{% if site.lang == "en" and item.url_en != blank %}/en{% else %}/{% endif %}" class="c-nav-main__link">Home</a>
        </li>

        <!-- Define your site navigation in _config.yml -->
        {% for item in site.navigation %}
        <li class="c-nav-main__item{% if page.section == item.section %} is-selected{% endif %}">
            <a href="{% if site.lang == "en" and item.url_en != blank %}{{ item.url_en}}{% else %}{{ item.url}}{% endif %}" class="c-nav-main__link">
                {% if site.lang == "en" and item.title_en != blank %}{{ item.title_en | capitalize }}{% else %} {{ item.title | capitalize }}{% endif %}
            </a>
        </li>
        {% endfor %}
        <li class="c-nav-main__item{% if site.lang == "en" %} is-selected{% endif %}">
            <a href="/en" class="c-nav-main__link">en</a>
        </li>
        <li class="c-nav-main__item{% if site.lang == "nl" %} is-selected{% endif %}">
            <a href="/" class="c-nav-main__link">nl</a>
        </li>
    </ul>
</nav>

<button class="c-nav-main-trigger js-nav-trigger">Menu</button>
